<div class="container">
<link rel="shortcut icon" href="/static/img/logo.ico">
<title>MİSYON & VİZYON</title>
{% extends "layout.html" %}
{% block body %}

<h2 align="center" style="background-color:#160049; color:#f3f3f3; padding: 14px; border-radius: 7px; font-style: italic; font-family: sans-serif; border-width: 5px; border-color: #f3f3f3; border-style: double;">MİSYON & VİZYON</h2>
<br>
<div class="yazi" style="background-color: #d7d7d7; padding: 12px; border-radius: 5px; border-width: 5px; border-style: double; border-color: #161616;">
<div style="font-size: 18px">
<b><i><u>MiSYON :</u>  Mümkün olan en düşük fiyatlar, mevcut en iyi seçimler ve azami derecede bir kolaylık sunmak için çalışıyoruz.
</b><i></b>
    <br><br>
<b><i><u>VİZYON :</u> En başarılı ve en saygın otel şirketi olmak.</i></b>
</div>
</div>
{% endblock %}
</div>