<link rel="shortcut icon" href="/static/img/logo.ico">
    <title>OTEL GÜNCELLE</title>
{% extends "layout.html" %}
{% block body %}
<div class="container">
<h3>Otel Güncelle</h3>
<hr>

{% from "includes/formhelpers.html" import render_field %}

<form method = "post" >
        
        {{ render_field(form.tittle) }}
        {{render_field(form.kisi)}}
        {{ render_field(form.bilgi) }}
        {{render_field(form.fiyat)}}
        {{render_field(form.konum)}}
        {{render_field(form.resim)}}
        <div class = "center"><button type="submit" class="btn btn-danger " >Otel Güncelle</button></div>

</form>
</div>
{% endblock body %}